h1 {
  text-align: center;
  margin-top: 110px;
}

.explanationText {
  max-width: 600px;
  margin: 15px auto auto auto;
  text-align: center;
  font-size: 20px;
}

.userEmail {
  max-width: 600px;
  margin: 40px auto auto auto;
  text-align: center;
  font-size: 20px;
  color: #cc0000;
}

.unsubscribeButtonContainer {
  text-align: center;
  .unsubscribeButtonInfo {
    margin-top: 40px;
  }
  .unsubscribeButton {
    margin-top: 15px;
    background-color: #fff;
    color: #cc0000;
    border: 1px solid #cc0000;
    &:hover {
      background-color: #cc0000;
      color: #fff;
      border: 1px solid #fe0000;
    }
    s:focus {
      box-shadow: none;
    }
  }
}
