<div class="container">
  <ng-container *ngIf="emailExists === false">
    <h1>Congratulation! You have subscribed for news</h1>
  </ng-container>
  <ng-container *ngIf="emailExists">
    <h1>You have already subscribed for news</h1>
  </ng-container>
  <div class="explanationText">On e-mail address below we will send latest news:</div>
  <div class="userEmail">{{email}}</div>
  <div class="unsubscribeButtonContainer">
    <small id="emailHelp" class="form-text text-muted unsubscribeButtonInfo"><i>*If you don't want to receive news
      anymore press Unsubscribe button.</i></small>
    <button type="button" class="btn unsubscribeButton" (click)="unsubscribe(email)">Unsubscribe</button>
  </div>
</div>
