.mainNavbar {
  background-color: #cc0000;
  padding: 10px;
  .mainLogo {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .subCount {
    color: #fff;
    right: 0;
    position: absolute;
  }
}
