<nav class="nav mainNavbar" style="background-color: #cc0000; color: #fff">
  <img class="mainLogo" src="../assets/images/halliburton-logo.png" alt="" routerLink="/">
  <div class="nav-link subCount">Total subscribers: {{ amount }}</div>
</nav>

<router-outlet></router-outlet>
