h1 {
  text-align: center;
  margin-top: 110px;
}

form {
  margin-top: 40px;
  text-align: center;
  input {
    margin: auto;
    max-width: 500px;
    &:focus {
      border: 1px solid #fe0000;
      box-shadow: none;
    }
    &:hover {
      border: 1px solid #fe0000;
      box-shadow: none;
    }
  }
  #emailHelp {
    margin-top: 10px;
  }
}

.explanationText {
  max-width: 600px;
  margin: 25px auto auto auto;
  text-align: center;
  font-size: 20px;
}

.submitButton {
  background-color: #fff;
  color: #cc0000;
  border: 1px solid #cc0000;
  &:hover {
    background-color: #cc0000;
    color: #fff;
    border: 1px solid #fe0000;
  }
  &:disabled {
    color: #cc0000;
    background-color: #fff;
    border: 1px solid #cc0000;
  }
  s:focus {
    box-shadow: none;
  }
}
