<div class="container">
  <h1>Subscribe to news!</h1>
  <div class="explanationText">Enter your e-mail address below to get latest news.</div>
  <form [formGroup]="subscriptionForm" (ngSubmit)="subscriptionFormSubmit(subscriptionForm.value.email)">
    <div class="form-group">
      <input type="email"
             class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             formControlName="email"
             placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"><i>*We'll never share your email with anyone else.</i></small>
    </div>
    <button [disabled]="!subscriptionForm.valid" type="submit" class="btn submitButton">Subscribe</button>
  </form>
</div>

